@import "../../mixin.scss";

.register {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.8)),
      color-stop(60%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/da15bb84-a1f7-4e25-af24-6c8e8ce9db64/VN-en-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  .top {
    .wrapper {
      padding: 25px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: #e50914;
        padding: 7px 17px;
        border-radius: 3px;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        z-index: 1;
      }
    }

    .mid {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      z-index: -1;
      padding: 15px;

      h1 {
        max-width: 800px;
        text-align: center;
        line-height: 1.1;
      }

      h2 {
        margin: 10px auto;
      }

      p {
        padding-bottom: 20px;
        align-items: center;
        text-align: center;
      }

      .input {
        align-items: center;
        display: flex;
        border-radius: 5px;
        height: 60px;
        position: relative;
        width: 40%;

        input {
          height: 100%;
          width: 100%;
          padding: 10px 10px;
          color: black;
          flex: 3;
        }
        button {
          background-color: #e50914;
          font-size: 28px;
          font-weight: 400;
          padding: 0 20px;
          height: 100%;
          width: 100% !important;
          white-space: nowrap;
          flex: 1;
        }
      }
    }
  }
}

@include w1100 {
  .register {
    .input {
      flex-direction: column !important;
      width: 80% !important;

      input {
        padding: 20px !important;
      }

      button {
        font-size: 20px !important;
        margin-top: 10px;
        padding: 10px 0 !important;
        max-width: 145px;
        border-radius: 5px;
      }
    }

    h1 {
      font-size: 30px !important;
      padding: 0 !important;
    }

    h2 {
      font-size: 20px !important;
    }
  }
}
