.login {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.8)),
      color-stop(60%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/da15bb84-a1f7-4e25-af24-6c8e8ce9db64/VN-en-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;

  .top {
    .wrapper {
      padding: 25px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      img {
        z-index: 1;
        cursor: pointer;
      }
    }

    .mid {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      .wrapper {
        background-color: rgba(0, 0, 0, 0.75);
        max-width: 450px;

        form {
          min-height: 200px;
          padding: 15px;

          h1 {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 28px;
          }

          input {
            background: #333;
            border-radius: 4px;
            border: 0;
            color: #fff;
            height: 50px;
            line-height: 50px;
            padding: 16px 20px 0;
            width: 100%;
            font-size: 16px;
            padding: 16px 20px;
            margin-bottom: 20px;
          }

          .signIn {
            min-height: 50px;
            background-color: #e50914;
            font-size: 16px;
            font-weight: 600;
            padding: 0 20px;
            width: 100%;
            border-radius: 4px;
          }

          .signUp {
            color: white;
            font-size: 16px;
            font-weight: 500;
            margin-top: 50px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}
