.home {
  background-color: var(--main-color);
  overflow: hidden;
}

.listContainerMid {
  position: relative;
  margin-top: -250px;
}

@media all and (max-width: 620px) {
  .listContainerMid {
    margin-top: 0;
  }
}

.loading {
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
