.iteitemNewMoviem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.itemNewMovie > input,
textarea {
  border: 1px solid gray;
  padding: 8px;
  font-size: 15px;
  margin-right: 20px;
  min-width: 20vmax;
}

textarea {
  height: 100px;
}
