@import "../../mixin.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;

  .footerContainer {
    color: grey;

    .social-links {
      display: flex;

      .social-link {
        padding: 10px;
        color: white;
      }
    }

    .member-footer-links {
      display: flex;

      .member-footer-link-wrapper {
        padding: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .member-footer-copyright {
      margin-left: 10px;
    }
  }
}

@include w750 {
  .member-footer-link-wrapper {
    display: none !important;
  }
  .social-links {
    margin-bottom: 20px !important;
  }
}
